
<html>
	<head>
		<title>New Contact Added</title>
	</head>

	<body>
		<div class="container">
			<h1>New Contact Added:</h1>
			
			<p>TWIG is what is really causing the problem.</p>
			<p>{% %}</p>
		</div>
	</body>
</html>