body {
    background-color: #fff;
    font-size: 1.5em;
}

.header {
    padding: 30px 30px 15px 0px;
}

.header form {
    padding-top: 30px;
}

.search {
    text-align: right;
}

.singleContact {
    padding: 15px;
}

.singleContact p {
    font-weight: bold;

}

.search {
    padding-top: -30px;
}
